<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span><img src="https://pbs.twimg.com/profile_images/893388168795271168/-aT7tvnI_normal.jpg" width="30" height="30" alt="" ></span> <span><b>Koinex</b> <sup>BETA</sup></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav"> -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">REGISTER</a>
        </li>
        <li>
          <a href="#">SIGN IN</a>
        </li>
        <li>
          <a href="#">MARKET</a>
        </li>
        <li>
          <a href="#">DOWNLOAD ANDROID APP</a>
        </li>
        <li>
          <a href="#">IOST CONTEST</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>